version: "3.9"

services:
  mongodb-courses:
    image: mongo
    container_name: mongodb-course
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  fastapi-ddd:
    build: .
    container_name: fastapi-ddd
    ports:
      - "5000:5000"
    depends_on:
      - mongodb-courses

volumes:
  mongodb_data:
